<a href="https://colab.research.google.com/github/douglasmmachado/MedicineConsumption/blob/master/notebooks/division_approach/6_Forecasting_Validation_9_Clusters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6 - Forecasting and prediction validation for 7 clusters



---



---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import math as m

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

from sklearn.tree import export_graphviz
from subprocess import call
from IPython.display import Image

from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error,  mean_absolute_percentage_error
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler

from sklearn.utils import shuffle


df_h1_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/master/datasets/division_approach/clustered/df_h1_clustered_7.csv"
df_h2_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/master/datasets/division_approach/clustered/df_h2_clustered_7.csv"
df_h3_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/master/datasets/division_approach/clustered/df_h3_clustered_7.csv"
df_h4_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/master/datasets/division_approach/clustered/df_h4_clustered_7.csv"



df_h1 = pd.read_csv(df_h1_url)
df_h1['YEAR'] = df_h1['YEAR'].astype(int)
df_h1['MONTH'] = df_h1['MONTH'].astype(int)
df_h1['DATE'] = pd.to_datetime(df_h1['YEAR'].astype(str) + '-' + df_h1['MONTH'].astype(str), format='%Y-%m')

df_h2 = pd.read_csv(df_h2_url)
df_h2['YEAR'] = df_h2['YEAR'].astype(int)
df_h2['MONTH'] = df_h2['MONTH'].astype(int)
df_h2['DATE'] = pd.to_datetime(df_h2['YEAR'].astype(str) + '-' + df_h2['MONTH'].astype(str), format='%Y-%m')

df_h3 = pd.read_csv(df_h3_url)
df_h3['YEAR'] = df_h3['YEAR'].astype(int)
df_h3['MONTH'] = df_h3['MONTH'].astype(int)
df_h3['DATE'] = pd.to_datetime(df_h3['YEAR'].astype(str) + '-' + df_h3['MONTH'].astype(str), format='%Y-%m')

df_h4 = pd.read_csv(df_h4_url)
df_h4['YEAR'] = df_h4['YEAR'].astype(int)
df_h4['MONTH'] = df_h4['MONTH'].astype(int)
df_h4['DATE'] = pd.to_datetime(df_h4['YEAR'].astype(str) + '-' + df_h4['MONTH'].astype(str), format='%Y-%m')

In [ ]:
df_h1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CODE_ATC        525 non-null    int64
 1   DATE            525 non-null    datetime64[ns]
 2   HOSPI_CODE_UCD  525 non-null    int64
 3   LIT_HC          525 non-null    float64
 4   LIT_HP          525 non-null    float64
 5   MONTH           525 non-null    int64
 6   N_UFS           525 non-null    float64
 7   PN_MEDICAL      525 non-null    float64
 8   POPULATION      525 non-null    float64
 9   P_MEDICAL       525 non-null    float64
 10  QUANTITY        525 non-null    float64
 11  QUANTITY_MA     525 non-null    float64
 12  SEJ_MCO         525 non-null    float64
 13  SEJ_SLD         525 non-null    float64
 14  SEJ_SSR         525 non-null    float64
 15  WEEK            525 non-null    int64
 16  YEAR            525 non-null    int64
 17  CLUSTER         525 non-null    int64
dtypes: datetime64[ns](1), float64(11), int64(6)
memory usage: 74.0 KB

In [ ]:
df_h2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CODE_ATC        525 non-null    int64
 1   DATE            525 non-null    datetime64[ns]
 2   HOSPI_CODE_UCD  525 non-null    int64
 3   LIT_HC          525 non-null    float64
 4   LIT_HP          525 non-null    float64
 5   MONTH           525 non-null    int64
 6   N_UFS           525 non-null    float64
 7   PN_MEDICAL      525 non-null    float64
 8   POPULATION      525 non-null    float64
 9   P_MEDICAL       525 non-null    float64
 10  QUANTITY        525 non-null    float64
 11  QUANTITY_MA     525 non-null    float64
 12  SEJ_MCO         525 non-null    float64
 13  SEJ_PSY         525 non-null    float64
 14  SEJ_SSR         525 non-null    float64
 15  WEEK            525 non-null    int64
 16  YEAR            525 non-null    int64
 17  CLUSTER         525 non-null    int64
dtypes: datetime64[ns](1), float64(11), int64(6)
memory usage: 74.0 KB

In [ ]:
df_h3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CODE_ATC        525 non-null    int64
 1   DATE            525 non-null    datetime64[ns]
 2   HOSPI_CODE_UCD  525 non-null    int64
 3   LIT_HC          525 non-null    float64
 4   LIT_HP          525 non-null    float64
 5   MONTH           525 non-null    int64
 6   N_UFS           525 non-null    float64
 7   PN_MEDICAL      525 non-null    float64
 8   POPULATION      525 non-null    float64
 9   P_MEDICAL       525 non-null    float64
 10  QUANTITY        525 non-null    float64
 11  QUANTITY_MA     525 non-null    float64
 12  SEJ_HAD         525 non-null    float64
 13  SEJ_MCO         525 non-null    float64
 14  SEJ_PSY         525 non-null    float64
 15  SEJ_SLD         525 non-null    float64
 16  SEJ_SSR         525 non-null    float64
 17  WEEK            525 non-null    int64
 18  YEAR            525 non-null    int64
 19  CLUSTER         525 non-null    int64
dtypes: datetime64[ns](1), float64(13), int64(6)
memory usage: 82.2 KB

In [ ]:
df_h4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CODE_ATC        525 non-null    int64
 1   DATE            525 non-null    datetime64[ns]
 2   HOSPI_CODE_UCD  525 non-null    int64
 3   LIT_HC          525 non-null    float64
 4   LIT_HP          525 non-null    float64
 5   MONTH           525 non-null    int64
 6   N_UFS           525 non-null    float64
 7   PN_MEDICAL      525 non-null    float64
 8   POPULATION      525 non-null    float64
 9   P_MEDICAL       525 non-null    float64
 10  QUANTITY        525 non-null    float64
 11  QUANTITY_MA     525 non-null    float64
 12  SEJ_MCO         525 non-null    float64
 13  SEJ_PSY         525 non-null    float64
 14  SEJ_SLD         525 non-null    float64
 15  SEJ_SSR         525 non-null    float64
 16  WEEK            525 non-null    int64
 17  YEAR            525 non-null    int64
 18  CLUSTER         525 non-null    int64
dtypes: datetime64[ns](1), float64(12), int64(6)
memory usage: 78.1 KB

## 6.1 - New database composition based on clusters

In [10]:
df_h1_cluster_0 = df_h1[df_h1['CLUSTER'] == 0].copy()
df_h1_cluster_1 = df_h1[df_h1['CLUSTER'] == 1].copy()
df_h1_cluster_2 = df_h1[df_h1['CLUSTER'] == 2].copy()
df_h1_cluster_3 = df_h1[df_h1['CLUSTER'] == 3].copy()
df_h1_cluster_4 = df_h1[df_h1['CLUSTER'] == 4].copy()
df_h1_cluster_5 = df_h1[df_h1['CLUSTER'] == 5].copy()
df_h1_cluster_6 = df_h1[df_h1['CLUSTER'] == 6].copy()

In [11]:
df_h2_cluster_0 = df_h2[df_h2['CLUSTER'] == 0].copy()
df_h2_cluster_1 = df_h2[df_h2['CLUSTER'] == 1].copy()
df_h2_cluster_2 = df_h2[df_h2['CLUSTER'] == 2].copy()
df_h2_cluster_3 = df_h2[df_h2['CLUSTER'] == 3].copy()
df_h2_cluster_4 = df_h2[df_h2['CLUSTER'] == 4].copy()
df_h2_cluster_5 = df_h2[df_h2['CLUSTER'] == 5].copy()
df_h2_cluster_6 = df_h2[df_h2['CLUSTER'] == 6].copy()

In [12]:
df_h3_cluster_0 = df_h3[df_h3['CLUSTER'] == 0].copy()
df_h3_cluster_1 = df_h3[df_h3['CLUSTER'] == 1].copy()
df_h3_cluster_2 = df_h3[df_h3['CLUSTER'] == 2].copy()
df_h3_cluster_3 = df_h3[df_h3['CLUSTER'] == 3].copy()
df_h3_cluster_4 = df_h3[df_h3['CLUSTER'] == 4].copy()
df_h3_cluster_5 = df_h3[df_h3['CLUSTER'] == 5].copy()
df_h3_cluster_6 = df_h3[df_h3['CLUSTER'] == 6].copy()

In [13]:
df_h4_cluster_0 = df_h4[df_h4['CLUSTER'] == 0].copy()
df_h4_cluster_1 = df_h4[df_h4['CLUSTER'] == 1].copy()
df_h4_cluster_2 = df_h4[df_h4['CLUSTER'] == 2].copy()
df_h4_cluster_3 = df_h4[df_h4['CLUSTER'] == 3].copy()
df_h4_cluster_4 = df_h4[df_h4['CLUSTER'] == 4].copy()
df_h4_cluster_5 = df_h4[df_h4['CLUSTER'] == 5].copy()
df_h4_cluster_6 = df_h4[df_h4['CLUSTER'] == 6].copy()

## 6.3 - Clustering score, Test 2

In [14]:
def test_2_clustering(df, df_scores, hospital = '-', unified = False):

  df = df.fillna(0)
  cluster = df.CLUSTER.unique()[0]
  scaler = StandardScaler()

  X = df.drop(['QUANTITY', 'DATE', 'WEEK', 'CLUSTER'], axis=1).copy().values
  y = df['QUANTITY'].copy().values
  X,  y = shuffle(X, y, random_state = 42)
  if unified:
    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                        test_size=0.2,
                                                        random_state=42)
  else:
    X_train = X
    y_train = y

    X_test = X
    y_test = y


  # Define the parameter distributions for RandomizedSearchCV
  param_distributions = {
      'max_depth': np.arange(2, 31, 2),
      'n_estimators': np.arange(2, 201, 2),
      'max_features': ['sqrt', 'log2'],
      'min_samples_split': np.arange(2, 11, 2),
      'min_samples_leaf': np.arange(2, 5, 1)
  }

  # Create the RandomizedSearchCV object
  randomized_search = RandomizedSearchCV(estimator=RandomForestRegressor(random_state=42),
                                          param_distributions=param_distributions,
                                          n_iter=100,
                                          cv=5,
                                          random_state=42)

  scaler = StandardScaler()
  X_train_scaled = scaler.fit_transform(X_train)

  # Fit the RandomizedSearchCV object to the data
  randomized_search.fit(X_train_scaled, y_train)

  # Get the best estimator
  best_estimator = randomized_search.best_estimator_

  print(f'Cluster: {cluster}')
  print('Best Parameters:', randomized_search.best_params_)
  print('Best Score:', randomized_search.best_score_)
  print(f'Data in train: {len(X_train)}')

  df_test = pd.DataFrame(X_test, columns = df.drop(['QUANTITY', 'DATE', 'WEEK', 'CLUSTER'], axis=1).copy().columns)
  df_test['QUANTITY'] = y_test

  for medicine in df_test.HOSPI_CODE_UCD.unique():
    X_test_medicine = df_test[df_test['HOSPI_CODE_UCD'] == medicine].drop(['QUANTITY'], axis=1).copy().values
    scaler = StandardScaler()
    X_test_scaled = scaler.fit_transform(X_test_medicine)

    y_test_medicine = df_test[df_test['HOSPI_CODE_UCD'] == medicine]['QUANTITY'].copy().values

    print()
    print(f'Data in test: {len(X_test_medicine)}')
    # Make predictions using the best estimator
    y_pred = best_estimator.predict(X_test_scaled)

    # Calculate R^2 score
    r2 = r2_score(y_test_medicine, y_pred)

    # Calculate MAE
    mae = mean_absolute_error(y_test_medicine, y_pred)

    # Calculate MAPE
    mape = mean_absolute_percentage_error(y_test_medicine, y_pred)

    # Calculate RMSE
    rmse = np.sqrt(mean_squared_error(y_test_medicine, y_pred))

    # Print the best parameters, best score, and evaluation metrics
    print('Medicine:' + str(medicine))
    print('Medicines in cluster: ')
    print('R^2 Score:', round(r2, 3))
    print('MAE:', round(mae, 3))
    print('MAPE:', round(mape, 3))
    print('RMSE:', round(rmse, 3))
    print()


    # Create the new row as a DataFrame
    new_row = pd.DataFrame({'ID_SITE_RATTACHE': [hospital],
                            'CLUSTER': [cluster],
                            'HOSPI_CODE_UCD': ['CODE_UCD_'+str(int(medicine))],
                            'R2': [r2],
                            'RMSE': [rmse],
                            'MAE': [mae],
                            'MAPE': [mape]})

    # Append the new row to the DataFrame
    df_scores = pd.concat([df_scores, new_row], ignore_index=True)

  # Return the updated DataFrame
  return df_scores

In [15]:
df_prediction_scores_h1_cluster_0 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h1_cluster_0 = test_2_clustering(df_h1_cluster_0, df_prediction_scores_h1_cluster_0, hospital = 'HOSPI_1')

df_prediction_scores_h1_cluster_0

Cluster: 0
Best Parameters: {'n_estimators': 200, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'sqrt', 'max_depth': 28}
Best Score: 0.9800677090193013
Data in train: 150

Data in test: 25
Medicine:3400891996128.0
Medicines in cluster:
R^2 Score: -115.149
MAE: 50099.411
MAPE: 0.898
RMSE: 50429.45


Data in test: 25
Medicine:3400892065366.0
Medicines in cluster:
R^2 Score: -858.315
MAE: 6914.676
MAPE: 1.426
RMSE: 9087.237


Data in test: 25
Medicine:3400892203645.0
Medicines in cluster:
R^2 Score: -3871.306
MAE: 6646.794
MAPE: 4.747
RMSE: 10552.825


Data in test: 25
Medicine:3400892088310.0
Medicines in cluster:
R^2 Score: -638.349
MAE: 4733.252
MAPE: 1.848
RMSE: 8531.44


Data in test: 25
Medicine:3400892052120.0
Medicines in cluster:
R^2 Score: -476.971
MAE: 4863.255
MAPE: 1.682
RMSE: 7721.1


Data in test: 25
Medicine:3400892075761.0
Medicines in cluster:
R^2 Score: -4167.813
MAE: 6174.223
MAPE: 4.216
RMSE: 10651.509

,ID_SITE_RATTACHE,HOSPI_CODE_UCD,R2,RMSE,MAE,MAPE,CLUSTER
0,HOSPI_1,CODE_UCD_3400891996128,-115.149461,50429.449862,50099.410746,0.898397,0.0
1,HOSPI_1,CODE_UCD_3400892065366,-858.315386,9087.236723,6914.676402,1.426162,0.0
2,HOSPI_1,CODE_UCD_3400892203645,-3871.306430,10552.824527,6646.794336,4.747446,0.0
3,HOSPI_1,CODE_UCD_3400892088310,-638.348629,8531.440048,4733.252026,1.848152,0.0
4,HOSPI_1,CODE_UCD_3400892052120,-476.970834,7721.099633,4863.255253,1.682343,0.0
5,HOSPI_1,CODE_UCD_3400892075761,-4167.812582,10651.508874,6174.223472,4.216417,0.0

In [16]:
df_prediction_scores_h1_cluster_1 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h1_cluster_1 = test_2_clustering(df_h1_cluster_1, df_prediction_scores_h1_cluster_1, hospital = 'HOSPI_1')

df_prediction_scores_h1_cluster_1

Cluster: 1
Best Parameters: {'n_estimators': 40, 'min_samples_split': 8, 'min_samples_leaf': 2, 'max_features': 'log2', 'max_depth': 26}
Best Score: 0.9377629372591247
Data in train: 50

Data in test: 25
Medicine:3400893875490.0
Medicines in cluster:
R^2 Score: -39.842
MAE: 4719.208
MAPE: 0.51
RMSE: 4787.892


Data in test: 25
Medicine:3400893826706.0
Medicines in cluster:
R^2 Score: -3.953
MAE: 1051.65
MAPE: 0.342
RMSE: 1168.378

,ID_SITE_RATTACHE,HOSPI_CODE_UCD,R2,RMSE,MAE,MAPE,CLUSTER
0,HOSPI_1,CODE_UCD_3400893875490,-39.842018,4787.892193,4719.208108,0.510291,1.0
1,HOSPI_1,CODE_UCD_3400893826706,-3.953440,1168.378289,1051.649858,0.341799,1.0

In [ ]:
df_prediction_scores_h1_cluster_2 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h1_cluster_2 = test_2_clustering(df_h1_cluster_2, df_prediction_scores_h1_cluster_2, hospital = 'HOSPI_1')

df_prediction_scores_h1_cluster_2

In [ ]:
df_prediction_scores_h1_cluster_3 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h1_cluster_3 = test_2_clustering(df_h1_cluster_3, df_prediction_scores_h1_cluster_3, hospital = 'HOSPI_1')

df_prediction_scores_h1_cluster_3

In [ ]:
df_prediction_scores_h1_cluster_4 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h1_cluster_4 = test_2_clustering(df_h1_cluster_4, df_prediction_scores_h1_cluster_4, hospital = 'HOSPI_1')

df_prediction_scores_h1_cluster_4

In [ ]:
df_prediction_scores_h1_cluster_5 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h1_cluster_5 = test_2_clustering(df_h1_cluster_5, df_prediction_scores_h1_cluster_5, hospital = 'HOSPI_1')

df_prediction_scores_h1_cluster_5

In [ ]:
df_prediction_scores_h1_cluster_6 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h1_cluster_6 = test_2_clustering(df_h1_cluster_6, df_prediction_scores_h1_cluster_6, hospital = 'HOSPI_1')

df_prediction_scores_h1_cluster_6

In [ ]:
pd.concat([df_prediction_scores_h1_cluster_0,
           df_prediction_scores_h1_cluster_1,
           df_prediction_scores_h1_cluster_2,
           df_prediction_scores_h1_cluster_3,
           df_prediction_scores_h1_cluster_4,
           df_prediction_scores_h1_cluster_5,
           df_prediction_scores_h1_cluster_6])

In [ ]:
df_prediction_scores_h2_cluster_0 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h2_cluster_0 = test_2_clustering(df_h2_cluster_0, df_prediction_scores_h2_cluster_0, hospital = 'HOSPI_2')

df_prediction_scores_h2_cluster_0

In [ ]:
df_prediction_scores_h2_cluster_1 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h2_cluster_1 = test_2_clustering(df_h2_cluster_1, df_prediction_scores_h2_cluster_1, hospital = 'HOSPI_2')

df_prediction_scores_h2_cluster_1

In [ ]:
df_prediction_scores_h2_cluster_2 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h2_cluster_2 = test_2_clustering(df_h2_cluster_2, df_prediction_scores_h2_cluster_2, hospital = 'HOSPI_2')

df_prediction_scores_h2_cluster_2

In [ ]:
df_prediction_scores_h2_cluster_3 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h2_cluster_3 = test_2_clustering(df_h2_cluster_3, df_prediction_scores_h2_cluster_3, hospital = 'HOSPI_2')

df_prediction_scores_h2_cluster_3

In [ ]:
df_prediction_scores_h2_cluster_4 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h2_cluster_4 = test_2_clustering(df_h2_cluster_4, df_prediction_scores_h2_cluster_4, hospital = 'HOSPI_2')

df_prediction_scores_h2_cluster_4

In [ ]:
df_prediction_scores_h2_cluster_5 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h2_cluster_5 = test_2_clustering(df_h2_cluster_5, df_prediction_scores_h2_cluster_5, hospital = 'HOSPI_2')

df_prediction_scores_h2_cluster_5

In [ ]:
df_prediction_scores_h2_cluster_6 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h2_cluster_6 = test_2_clustering(df_h2_cluster_6, df_prediction_scores_h2_cluster_6, hospital = 'HOSPI_2')

df_prediction_scores_h2_cluster_6

In [ ]:
pd.concat([df_prediction_scores_h2_cluster_0,
           df_prediction_scores_h2_cluster_1,
           df_prediction_scores_h2_cluster_2,
           df_prediction_scores_h2_cluster_3,
           df_prediction_scores_h2_cluster_4,
           df_prediction_scores_h2_cluster_5,
           df_prediction_scores_h2_cluster_6])

In [ ]:
df_prediction_scores_h3_cluster_0 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h3_cluster_0 = test_2_clustering(df_h3_cluster_0, df_prediction_scores_h3_cluster_0, hospital = 'HOSPI_3')

df_prediction_scores_h3_cluster_0

In [ ]:
df_prediction_scores_h3_cluster_1 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h3_cluster_1 = test_2_clustering(df_h3_cluster_1, df_prediction_scores_h3_cluster_1, hospital = 'HOSPI_3')

df_prediction_scores_h3_cluster_1

In [ ]:
df_prediction_scores_h3_cluster_2 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h3_cluster_2 = test_2_clustering(df_h3_cluster_2, df_prediction_scores_h3_cluster_2, hospital = 'HOSPI_3')

df_prediction_scores_h3_cluster_2

In [ ]:
df_prediction_scores_h3_cluster_3 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h3_cluster_3 = test_2_clustering(df_h3_cluster_3, df_prediction_scores_h3_cluster_3, hospital = 'HOSPI_3')

df_prediction_scores_h3_cluster_3

In [ ]:
df_prediction_scores_h3_cluster_4 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h3_cluster_4 = test_2_clustering(df_h3_cluster_4, df_prediction_scores_h3_cluster_4, hospital = 'HOSPI_3')

df_prediction_scores_h3_cluster_4

In [ ]:
df_prediction_scores_h3_cluster_5 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h3_cluster_5 = test_2_clustering(df_h3_cluster_5, df_prediction_scores_h3_cluster_5, hospital = 'HOSPI_3')

df_prediction_scores_h3_cluster_5

In [ ]:
df_prediction_scores_h3_cluster_6 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h3_cluster_6 = test_2_clustering(df_h3_cluster_6, df_prediction_scores_h3_cluster_6, hospital = 'HOSPI_3')

df_prediction_scores_h3_cluster_6

In [ ]:
pd.concat([df_prediction_scores_h3_cluster_0,
           df_prediction_scores_h3_cluster_1,
           df_prediction_scores_h3_cluster_2,
           df_prediction_scores_h3_cluster_3,
           df_prediction_scores_h3_cluster_4,
           df_prediction_scores_h3_cluster_5,
           df_prediction_scores_h3_cluster_6])

In [ ]:
df_prediction_scores_h4_cluster_0 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h4_cluster_0 = test_2_clustering(df_h4_cluster_0, df_prediction_scores_h4_cluster_0, hospital = 'HOSPI_4')

df_prediction_scores_h4_cluster_0

In [ ]:
df_prediction_scores_h4_cluster_1 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h4_cluster_1 = test_2_clustering(df_h4_cluster_1, df_prediction_scores_h4_cluster_1, hospital = 'HOSPI_4')

df_prediction_scores_h4_cluster_1

In [ ]:
df_prediction_scores_h4_cluster_2 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h4_cluster_2 = test_2_clustering(df_h4_cluster_2, df_prediction_scores_h4_cluster_2, hospital = 'HOSPI_4')

df_prediction_scores_h4_cluster_2

In [ ]:
df_prediction_scores_h4_cluster_3 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h4_cluster_3 = test_2_clustering(df_h4_cluster_3, df_prediction_scores_h4_cluster_3, hospital = 'HOSPI_4')

df_prediction_scores_h4_cluster_3

In [ ]:
df_prediction_scores_h4_cluster_4 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h4_cluster_4 = test_2_clustering(df_h4_cluster_4, df_prediction_scores_h4_cluster_4, hospital = 'HOSPI_4')

df_prediction_scores_h4_cluster_4

In [ ]:
df_prediction_scores_h4_cluster_5 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h4_cluster_5 = test_2_clustering(df_h4_cluster_5, df_prediction_scores_h4_cluster_5, hospital = 'HOSPI_4')

df_prediction_scores_h4_cluster_5

In [ ]:
df_prediction_scores_h4_cluster_6 = pd.DataFrame(columns=['ID_SITE_RATTACHE', 'HOSPI_CODE_UCD', 'R2', 'RMSE', 'MAE', 'MAPE'])

df_prediction_scores_h4_cluster_6 = test_2_clustering(df_h4_cluster_6, df_prediction_scores_h4_cluster_6, hospital = 'HOSPI_4')

df_prediction_scores_h4_cluster_6

In [ ]:
pd.concat([df_prediction_scores_h4_cluster_0,
           df_prediction_scores_h4_cluster_1,
           df_prediction_scores_h4_cluster_2,
           df_prediction_scores_h4_cluster_3,
           df_prediction_scores_h4_cluster_4,
           df_prediction_scores_h4_cluster_5,
           df_prediction_scores_h4_cluster_6])