<a href="https://colab.research.google.com/github/douglasmmachado/MedicineConsumption/blob/master/notebooks/division_approach/6_Forecasting_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5 - Forecasting and prediction



---



---

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import math as m

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

from sklearn.tree import export_graphviz
from subprocess import call
from IPython.display import Image


from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error,  mean_absolute_percentage_error
from sklearn.model_selection import RandomizedSearchCV

from sklearn.preprocessing import StandardScaler

from sklearn.utils import shuffle


df_h1_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/master/datasets/division_approach/clustered/df_h1_clustered_9.csv"
df_h2_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/master/datasets/division_approach/clustered/df_h2_clustered_3.csv"
df_h3_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/master/datasets/division_approach/clustered/df_h3_clustered_8.csv"
df_h4_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/master/datasets/division_approach/clustered/df_h4_clustered_13.csv"



df_h1 = pd.read_csv(df_h1_url)
df_h2 = pd.read_csv(df_h2_url)
df_h3 = pd.read_csv(df_h3_url)
df_h4 = pd.read_csv(df_h4_url)

medicines = [3400892088310,3400892075761,3400892203645,
             3400892065366,3400892052120,3400891996128,
             3400893826706,3400893736135,3400893875490,
             3400890837149,3400891235203,3400891225037,
             3400891191226,3400892729589,3400892745848,
             3400892697789,3400892761527,3400893022634,
             3400892761695,3400892669236,3400892508566]

numerical_features = ['HOSPI_CODE_UCD', 'LIT_HC', 'LIT_HP', 'N_ETB',
'N_UFS', 'PN_MEDICAL', 'POPULATION',
'P_MEDICAL', 'QUANTITY', 'QUANTITY_MA',
'SEJ_HAD', 'SEJ_MCO', 'SEJ_PSY',
'SEJ_SLD', 'SEJ_SSR', 'MONTH_1.0', 'MONTH_2.0', 'MONTH_3.0',
                      'MONTH_4.0', 'MONTH_5.0', 'MONTH_6.0',
                      'MONTH_7.0', 'MONTH_8.0', 'MONTH_9.0',
                      'MONTH_10.0', 'MONTH_11.0', 'MONTH_12.0']

In [2]:
df_h1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1208 entries, 0 to 1207
Data columns (total 47 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HOSPI_CODE_UCD     1208 non-null   int64
 1   LIT_HC             1208 non-null   float64
 2   LIT_HP             1208 non-null   float64
 3   N_UFS              1208 non-null   float64
 4   PN_MEDICAL         1208 non-null   float64
 5   POPULATION         1208 non-null   float64
 6   P_MEDICAL          1208 non-null   float64
 7   QUANTITY           1208 non-null   float64
 8   QUANTITY_MA        1208 non-null   float64
 9   SEJ_MCO            1208 non-null   float64
 10  SEJ_SLD            1208 non-null   float64
 11  SEJ_SSR            1208 non-null   float64
 12  YEAR               1208 non-null   float64
 13  MONTH_1.0          1208 non-null   int64
 14  MONTH_2.0          1208 non-null   int64
 15  MONTH_3.0          1208 non-null   int64
 16  MONTH_4.0          1208 non-null   int64
 17  MONTH_5.0          1208 non-null   int64
 18  MONTH_6.0          1208 non-null   int64
 19  MONTH_7.0          1208 non-null   int64
 20  MONTH_8.0          1208 non-null   int64
 21  MONTH_9.0          1208 non-null   int64
 22  MONTH_10.0         1208 non-null   int64
 23  MONTH_11.0         1208 non-null   int64
 24  MONTH_12.0         1208 non-null   int64
 25  UCD_3400890837149  1208 non-null   int64
 26  UCD_3400891191226  1208 non-null   int64
 27  UCD_3400891225037  1208 non-null   int64
 28  UCD_3400891235203  1208 non-null   int64
 29  UCD_3400891996128  1208 non-null   int64
 30  UCD_3400892052120  1208 non-null   int64
 31  UCD_3400892065366  1208 non-null   int64
 32  UCD_3400892075761  1208 non-null   int64
 33  UCD_3400892088310  1208 non-null   int64
 34  UCD_3400892203645  1208 non-null   int64
 35  UCD_3400892508566  1208 non-null   int64
 36  UCD_3400892669236  1208 non-null   int64
 37  UCD_3400892697789  1208 non-null   int64
 38  UCD_3400892729589  1208 non-null   int64
 39  UCD_3400892745848  1208 non-null   int64
 40  UCD_3400892761527  1208 non-null   int64
 41  UCD_3400892761695  1208 non-null   int64
 42  UCD_3400893022634  1208 non-null   int64
 43  UCD_3400893736135  1208 non-null   int64
 44  UCD_3400893826706  1208 non-null   int64
 45  UCD_3400893875490  1208 non-null   int64
 46  CLUSTER            1208 non-null   int64
dtypes: float64(12), int64(35)
memory usage: 443.7 KB

In [3]:
df_h2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 47 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HOSPI_CODE_UCD     697 non-null    int64
 1   LIT_HC             697 non-null    float64
 2   LIT_HP             697 non-null    float64
 3   N_UFS              697 non-null    float64
 4   PN_MEDICAL         697 non-null    float64
 5   POPULATION         697 non-null    float64
 6   P_MEDICAL          697 non-null    float64
 7   QUANTITY           697 non-null    float64
 8   QUANTITY_MA        697 non-null    float64
 9   SEJ_MCO            697 non-null    float64
 10  SEJ_PSY            697 non-null    float64
 11  SEJ_SSR            697 non-null    float64
 12  YEAR               697 non-null    float64
 13  MONTH_1.0          697 non-null    int64
 14  MONTH_2.0          697 non-null    int64
 15  MONTH_3.0          697 non-null    int64
 16  MONTH_4.0          697 non-null    int64
 17  MONTH_5.0          697 non-null    int64
 18  MONTH_6.0          697 non-null    int64
 19  MONTH_7.0          697 non-null    int64
 20  MONTH_8.0          697 non-null    int64
 21  MONTH_9.0          697 non-null    int64
 22  MONTH_10.0         697 non-null    int64
 23  MONTH_11.0         697 non-null    int64
 24  MONTH_12.0         697 non-null    int64
 25  UCD_3400890837149  697 non-null    int64
 26  UCD_3400891191226  697 non-null    int64
 27  UCD_3400891225037  697 non-null    int64
 28  UCD_3400891235203  697 non-null    int64
 29  UCD_3400891996128  697 non-null    int64
 30  UCD_3400892052120  697 non-null    int64
 31  UCD_3400892065366  697 non-null    int64
 32  UCD_3400892075761  697 non-null    int64
 33  UCD_3400892088310  697 non-null    int64
 34  UCD_3400892203645  697 non-null    int64
 35  UCD_3400892508566  697 non-null    int64
 36  UCD_3400892669236  697 non-null    int64
 37  UCD_3400892697789  697 non-null    int64
 38  UCD_3400892729589  697 non-null    int64
 39  UCD_3400892745848  697 non-null    int64
 40  UCD_3400892761527  697 non-null    int64
 41  UCD_3400892761695  697 non-null    int64
 42  UCD_3400893022634  697 non-null    int64
 43  UCD_3400893736135  697 non-null    int64
 44  UCD_3400893826706  697 non-null    int64
 45  UCD_3400893875490  697 non-null    int64
 46  CLUSTER            697 non-null    int64
dtypes: float64(12), int64(35)
memory usage: 256.1 KB

In [4]:
df_h3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1397 entries, 0 to 1396
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HOSPI_CODE_UCD     1397 non-null   int64
 1   LIT_HC             1397 non-null   float64
 2   LIT_HP             1397 non-null   float64
 3   N_UFS              1397 non-null   float64
 4   PN_MEDICAL         1397 non-null   float64
 5   POPULATION         1397 non-null   float64
 6   P_MEDICAL          1397 non-null   float64
 7   QUANTITY           1397 non-null   float64
 8   QUANTITY_MA        1397 non-null   float64
 9   SEJ_HAD            1397 non-null   float64
 10  SEJ_MCO            1397 non-null   float64
 11  SEJ_PSY            1397 non-null   float64
 12  SEJ_SLD            1397 non-null   float64
 13  SEJ_SSR            1397 non-null   float64
 14  YEAR               1397 non-null   float64
 15  MONTH_1.0          1397 non-null   int64
 16  MONTH_2.0          1397 non-null   int64
 17  MONTH_3.0          1397 non-null   int64
 18  MONTH_4.0          1397 non-null   int64
 19  MONTH_5.0          1397 non-null   int64
 20  MONTH_6.0          1397 non-null   int64
 21  MONTH_7.0          1397 non-null   int64
 22  MONTH_8.0          1397 non-null   int64
 23  MONTH_9.0          1397 non-null   int64
 24  MONTH_10.0         1397 non-null   int64
 25  MONTH_11.0         1397 non-null   int64
 26  MONTH_12.0         1397 non-null   int64
 27  UCD_3400890837149  1397 non-null   int64
 28  UCD_3400891191226  1397 non-null   int64
 29  UCD_3400891225037  1397 non-null   int64
 30  UCD_3400891235203  1397 non-null   int64
 31  UCD_3400891996128  1397 non-null   int64
 32  UCD_3400892052120  1397 non-null   int64
 33  UCD_3400892065366  1397 non-null   int64
 34  UCD_3400892075761  1397 non-null   int64
 35  UCD_3400892088310  1397 non-null   int64
 36  UCD_3400892203645  1397 non-null   int64
 37  UCD_3400892508566  1397 non-null   int64
 38  UCD_3400892669236  1397 non-null   int64
 39  UCD_3400892697789  1397 non-null   int64
 40  UCD_3400892729589  1397 non-null   int64
 41  UCD_3400892745848  1397 non-null   int64
 42  UCD_3400892761527  1397 non-null   int64
 43  UCD_3400892761695  1397 non-null   int64
 44  UCD_3400893022634  1397 non-null   int64
 45  UCD_3400893736135  1397 non-null   int64
 46  UCD_3400893826706  1397 non-null   int64
 47  UCD_3400893875490  1397 non-null   int64
 48  CLUSTER            1397 non-null   int64
dtypes: float64(14), int64(35)
memory usage: 534.9 KB

In [5]:
df_h4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770 entries, 0 to 769
Data columns (total 48 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HOSPI_CODE_UCD     770 non-null    int64
 1   LIT_HC             770 non-null    float64
 2   LIT_HP             770 non-null    float64
 3   N_UFS              770 non-null    float64
 4   PN_MEDICAL         770 non-null    float64
 5   POPULATION         770 non-null    float64
 6   P_MEDICAL          770 non-null    float64
 7   QUANTITY           770 non-null    float64
 8   QUANTITY_MA        770 non-null    float64
 9   SEJ_MCO            770 non-null    float64
 10  SEJ_PSY            770 non-null    float64
 11  SEJ_SLD            770 non-null    float64
 12  SEJ_SSR            770 non-null    float64
 13  YEAR               770 non-null    float64
 14  MONTH_1.0          770 non-null    int64
 15  MONTH_2.0          770 non-null    int64
 16  MONTH_3.0          770 non-null    int64
 17  MONTH_4.0          770 non-null    int64
 18  MONTH_5.0          770 non-null    int64
 19  MONTH_6.0          770 non-null    int64
 20  MONTH_7.0          770 non-null    int64
 21  MONTH_8.0          770 non-null    int64
 22  MONTH_9.0          770 non-null    int64
 23  MONTH_10.0         770 non-null    int64
 24  MONTH_11.0         770 non-null    int64
 25  MONTH_12.0         770 non-null    int64
 26  UCD_3400890837149  770 non-null    int64
 27  UCD_3400891191226  770 non-null    int64
 28  UCD_3400891225037  770 non-null    int64
 29  UCD_3400891235203  770 non-null    int64
 30  UCD_3400891996128  770 non-null    int64
 31  UCD_3400892052120  770 non-null    int64
 32  UCD_3400892065366  770 non-null    int64
 33  UCD_3400892075761  770 non-null    int64
 34  UCD_3400892088310  770 non-null    int64
 35  UCD_3400892203645  770 non-null    int64
 36  UCD_3400892508566  770 non-null    int64
 37  UCD_3400892669236  770 non-null    int64
 38  UCD_3400892697789  770 non-null    int64
 39  UCD_3400892729589  770 non-null    int64
 40  UCD_3400892745848  770 non-null    int64
 41  UCD_3400892761527  770 non-null    int64
 42  UCD_3400892761695  770 non-null    int64
 43  UCD_3400893022634  770 non-null    int64
 44  UCD_3400893736135  770 non-null    int64
 45  UCD_3400893826706  770 non-null    int64
 46  UCD_3400893875490  770 non-null    int64
 47  CLUSTER            770 non-null    int64
dtypes: float64(13), int64(35)
memory usage: 288.9 KB

## 5.1 - New database composition based on clusters