<a href="https://colab.research.google.com/github/douglasmmachado/ExploratoryDataAnalysis/blob/master/Timeseries_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring the timeseries approach for the unified database

---



---

# Loading libs and database

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns

raw_data_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/master/project_database.csv"
df=pd.read_csv(raw_data_url, index_col=0)

categorical_features = ['ID_REF', 'ID_SITE_RATTACHE', 'CODE_ATC', 'HOSPI_CODE_UCD']
date_features = ['DATE_MOUV', 'WEEK', 'MONTH', 'YEAR']
numerical_features = ['N_UFS', 'QUANTITY', 'N_ETB', 'POPULATION', 'P_MEDICAL', 'PN_MEDICAL', 'LIT_HC', 'LIT_HP', 'SEJ_MCO', 'SEJ_HAD', 'SEJ_PSY', 'SEJ_SSR']

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75692 entries, 0 to 75691
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_REF            75689 non-null  object
 1   ID_SITE_RATTACHE  75690 non-null  object
 2   CODE_ATC          75685 non-null  object
 3   HOSPI_CODE_UCD    75690 non-null  object
 4   DATE_MOUV         75685 non-null  object
 5   N_UFS             75692 non-null  int64
 6   QUANTITY          75685 non-null  float64
 7   WEEK              75685 non-null  float64
 8   MONTH             75692 non-null  int64
 9   YEAR              75685 non-null  float64
 10  N_ETB             75692 non-null  int64
 11  POPULATION        75692 non-null  float64
 12  P_MEDICAL         75692 non-null  int64
 13  PN_MEDICAL        75692 non-null  int64
 14  LIT_HC            75685 non-null  float64
 15  LIT_HP            75692 non-null  float64
 16  SEJ_MCO           75692 non-null  int64
 17  SEJ_HAD           75692 non-null  int64
 18  SEJ_PSY           75692 non-null  int64
 19  SEJ_SSR           75692 non-null  int64
 20  SEJ_SLD           75692 non-null  int64
dtypes: float64(6), int64(10), object(5)
memory usage: 12.7+ MB

<ipython-input-11-af9092c990bd>:8: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(raw_data_url, index_col=0)

# Data cleaning

In [12]:
df = df.drop_duplicates()
df = df.dropna()
df['DATE_MOUV'] = pd.to_datetime(df['DATE_MOUV'], 
               format='%Y-%m-%d')  # Changed the type of date too
               
for column in categorical_features:
  df[column] = df[column].astype('string')

df.sample(5)

,ID_REF,ID_SITE_RATTACHE,CODE_ATC,HOSPI_CODE_UCD,DATE_MOUV,N_UFS,QUANTITY,WEEK,MONTH,YEAR,...,POPULATION,P_MEDICAL,PN_MEDICAL,LIT_HC,LIT_HP,SEJ_MCO,SEJ_HAD,SEJ_PSY,SEJ_SSR,SEJ_SLD
67105,20395,HOSPI_4,N02BE01,3400893875490,2016-07-06,1,70.0,27.0,7,2016.0,...,1835903.0,2526,15604,4536.0,470.0,247827,0,22,7902,163
57553,525057,HOSPI_3,B05XA09,3400893826706,2014-12-04,4,110.0,49.0,12,2014.0,...,1107398.0,1158,7129,2063.0,521.0,117781,594,2903,1302,97
73731,5066,HOSPI_4,M03BX01,3400892697789,2017-07-19,1,300.0,29.0,7,2017.0,...,1843319.0,2556,15650,4500.0,467.0,254570,0,5,8464,285
29665,9272958,HOSPI_2,N02AX02,3400892729589,2019-09-04,4,110.0,36.0,9,2019.0,...,542302.0,706,5013,1141.0,141.0,76593,0,1007,206,0
5558,820070,HOSPI_1,B01AB05,3400892669236,2019-02-04,11,498.0,6.0,2,2019.0,...,569894.0,843,5438,1353.0,100.0,82997,0,0,1141,92

## Removing outliers by hospital and by drug

In [14]:
 n_medicines = df['ID_REF'].nunique()
 print('Number of different medicines: ', n_medicines)

Number of different medicines:  84