<a href="https://colab.research.google.com/github/douglasmmachado/MedicineConsumption/blob/main/notebooks/1_Database_Formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 - Data insconsistance handling and creation of unified database and divided database
---



---

# Loading libs and database

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import math as m

raw_data_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/main/datasets/project_database.csv" # Raw database
df = pd.read_csv(raw_data_url, index_col=0)

categorical_features = ['ID_REF', 'ID_SITE_RATTACHE', 'CODE_ATC', 'HOSPI_CODE_UCD']
date_features = ['DATE_MOUV', 'WEEK', 'MONTH', 'YEAR']
numerical_features = ['N_UFS', 'QUANTITY', 'N_ETB', 'POPULATION', 'P_MEDICAL', 'PN_MEDICAL', 'LIT_HC', 'LIT_HP', 'SEJ_MCO', 'SEJ_HAD', 'SEJ_PSY', 'SEJ_SSR']

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75692 entries, 0 to 75691
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_REF            75689 non-null  object
 1   ID_SITE_RATTACHE  75690 non-null  object
 2   CODE_ATC          75685 non-null  object
 3   HOSPI_CODE_UCD    75690 non-null  object
 4   DATE_MOUV         75685 non-null  object
 5   N_UFS             75692 non-null  int64
 6   QUANTITY          75685 non-null  float64
 7   WEEK              75685 non-null  float64
 8   MONTH             75692 non-null  int64
 9   YEAR              75685 non-null  float64
 10  N_ETB             75692 non-null  int64
 11  POPULATION        75692 non-null  float64
 12  P_MEDICAL         75692 non-null  int64
 13  PN_MEDICAL        75692 non-null  int64
 14  LIT_HC            75685 non-null  float64
 15  LIT_HP            75692 non-null  float64
 16  SEJ_MCO           75692 non-null  int64
 17  SEJ_HAD           75692 non-null  int64
 18  SEJ_PSY           75692 non-null  int64
 19  SEJ_SSR           75692 non-null  int64
 20  SEJ_SLD           75692 non-null  int64
dtypes: float64(6), int64(10), object(5)
memory usage: 12.7+ MB

<ipython-input-1-3cd455e0ac41>:9: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(raw_data_url, index_col=0)

## 1.1 - Data cleaning and insconsistance handling

In [ ]:
N = len(df)

df = df.drop_duplicates()
df = df.dropna()

df['DATE_MOUV'] = pd.to_datetime(df['DATE_MOUV'],
               format='%Y-%m-%d')  # Changed the type of date too

for column in categorical_features:
  df[column] = df[column].astype('string')

# Changing the date display by year-month division
df['YEAR'] = df['DATE_MOUV'].dt.year
df['MONTH'] = df['DATE_MOUV'].dt.month
df['WEEK'] = df['DATE_MOUV'].dt.isocalendar().week

N_new = len(df)

print(f'Removed rows: {N - N_new}')
print(f'Percentage: {(((N - N_new )/ N)*100):.3f}')
df.info()

Removed rows: 8
Percentage: 0.011
<class 'pandas.core.frame.DataFrame'>
Int64Index: 75684 entries, 0 to 75691
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_REF            75684 non-null  string
 1   ID_SITE_RATTACHE  75684 non-null  string
 2   CODE_ATC          75684 non-null  string
 3   HOSPI_CODE_UCD    75684 non-null  string
 4   DATE_MOUV         75684 non-null  datetime64[ns]
 5   N_UFS             75684 non-null  int64
 6   QUANTITY          75684 non-null  float64
 7   WEEK              75684 non-null  UInt32
 8   MONTH             75684 non-null  int64
 9   YEAR              75684 non-null  int64
 10  N_ETB             75684 non-null  int64
 11  POPULATION        75684 non-null  float64
 12  P_MEDICAL         75684 non-null  int64
 13  PN_MEDICAL        75684 non-null  int64
 14  LIT_HC            75684 non-null  float64
 15  LIT_HP            75684 non-null  float64
 16  SEJ_MCO           75684 non-null  int64
 17  SEJ_HAD           75684 non-null  int64
 18  SEJ_PSY           75684 non-null  int64
 19  SEJ_SSR           75684 non-null  int64
 20  SEJ_SLD           75684 non-null  int64
dtypes: UInt32(1), datetime64[ns](1), float64(4), int64(11), string(4)
memory usage: 12.5 MB

## 1.2 - Creation of divided database and unified database

In [ ]:
# Separating databases

df_h1 = df[df["ID_SITE_RATTACHE"] == "HOSPI_1"]
df_h2 = df[df["ID_SITE_RATTACHE"] == "HOSPI_2"]
df_h3 = df[df["ID_SITE_RATTACHE"] == "HOSPI_3"]
df_h4 = df[df["ID_SITE_RATTACHE"] == "HOSPI_4"]

df_h1.to_csv('df_h1.csv',index=False)
df_h2.to_csv('df_h2.csv',index=False)
df_h3.to_csv('df_h3.csv',index=False)
df_h4.to_csv('df_h4.csv',index=False)
df.to_csv('df_unified.csv',index=False)