<a href="https://colab.research.google.com/github/douglasmmachado/MedicineConsumption/blob/master/notebooks/Unified_Approach.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np

raw_data_url ="https://raw.githubusercontent.com/douglasmmachado/ExploratoryDataAnalysis/master/datasets/project_database.csv"
df = pd.read_csv(raw_data_url, index_col=0)

df = df.drop_duplicates()
df = df.dropna()

categorical_features = ['ID_REF', 'ID_SITE_RATTACHE', 'CODE_ATC', 'HOSPI_CODE_UCD']
date_features = ['DATE_MOUV', 'WEEK', 'MONTH', 'YEAR']
numerical_features = ['N_UFS', 'QUANTITY', 'N_ETB', 'POPULATION', 'P_MEDICAL', 'PN_MEDICAL', 'LIT_HC', 'LIT_HP', 'SEJ_MCO', 'SEJ_HAD', 'SEJ_PSY', 'SEJ_SSR']

for column in categorical_features:
  df[column] = df[column].astype('string')

df['DATE_MOUV'] = pd.to_datetime(df['DATE_MOUV'],
               format='%Y-%m-%d')  # Changed the type of date too
df.info()

<ipython-input-16-4890ce5786f3>:5: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(raw_data_url, index_col=0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75684 entries, 0 to 75691
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_REF            75684 non-null  string
 1   ID_SITE_RATTACHE  75684 non-null  string
 2   CODE_ATC          75684 non-null  string
 3   HOSPI_CODE_UCD    75684 non-null  string
 4   DATE_MOUV         75684 non-null  datetime64[ns]
 5   N_UFS             75684 non-null  int64
 6   QUANTITY          75684 non-null  float64
 7   WEEK              75684 non-null  float64
 8   MONTH             75684 non-null  int64
 9   YEAR              75684 non-null  float64
 10  N_ETB             75684 non-null  int64
 11  POPULATION        75684 non-null  float64
 12  P_MEDICAL         75684 non-null  int64
 13  PN_MEDICAL        75684 non-null  int64
 14  LIT_HC            75684 non-null  float64
 15  LIT_HP            75684 non-null  float64
 16  SEJ_MCO           75684 non-null  int64
 17  SEJ_HAD           75684 non-null  int64
 18  SEJ_PSY           75684 non-null  int64
 19  SEJ_SSR           75684 non-null  int64
 20  SEJ_SLD           75684 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(10), string(4)
memory usage: 12.7 MB

In [17]:
def display_unique(df, features):
  for column in features:
    print(f'\n Unique values of feature: {column}')
    print(f'Number of unique values: {len(df[column].unique())}')
    print(df[column].unique())
    print('\n')

In [18]:
display_unique(df, categorical_features)

 Unique values of feature: ID_REF
Number of unique values: 84
<StringArray>
[ '960148',  '893880',  '960491',  '800851',  '820070',  '800852',  '890228',
  '830701',  '890264',  '830303',  '891086',  '840051',  '841268',  '830631',
  '960229',  '890900',  '960388',  '960687',  '830302',  '822707',  '810359',
 '9199612', '9122503', '9387549', '9276152', '9266923', '9276169', '9206536',
 '9083714', '9272958', '9119122', '9274584', '9220364', '9373613', '9207576',
 '9382670', '9269778', '9250856', '9205212', '9123520', '9208831', '9302263',
  '503129',  '507146',  '503386',  '525441',  '502400',  '525443',  '502369',
  '504394',  '503182',  '504200',  '509929',  '507071',  '506197',  '504495',
  '525057',  '503095',  '502829',  '503184',  '504403',  '502374',  '501463',
    '2463',    '5268',   '20395',    '7047',    '8704',    '7046',    '9490',
    '3937',    '5186',   '20677',   '20420',    '8927',   '20845',    '2431',
    '5589',    '5066',    '5671',    '5193',    '2612',    '6180',   '21099']
Length: 84, dtype: string



 Unique values of feature: ID_SITE_RATTACHE
Number of unique values: 4
<StringArray>
['HOSPI_1', 'HOSPI_2', 'HOSPI_3', 'HOSPI_4']
Length: 4, dtype: string



 Unique values of feature: CODE_ATC
Number of unique values: 18
<StringArray>
['N02BE01', 'A12BA01', 'B05XA03', 'B01AB05', 'B01AC06', 'N05BA04', 'N02AX02',
 'N05CF01', 'R03AC02', 'H02AB06', 'A03AX12', 'N05BA12', 'B05XA09', 'M03BX01',
 'C01CA03', 'N05CF02', 'C03CA01', 'J01CR05']
Length: 18, dtype: string



 Unique values of feature: HOSPI_CODE_UCD
Number of unique values: 21
<StringArray>
['3400891996128', '3400891225037', '3400893875490', '3400892761527',
 '3400892669236', '3400892761695', '3400892065366', '3400890837149',
 '3400892729589', '3400891191226', '3400892745848', '3400892203645',
 '3400893736135', '3400892075761', '3400893826706', '3400892697789',
 '3400892508566', '3400892052120', '3400891235203', '3400892088310',
 '3400893022634']
Length: 21, dtype: string